<mat-card>
    <mat-card-title>Novo Modelo de Veículo</mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Selecione uma marca</mat-label>
        <mat-select [(value)]="vehiclemodel.brand" required>
          <mat-option></mat-option>
          <mat-option *ngFor="let brand of brands" [value]="brand">
            {{ brand.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="brandControl.hasError('required')">Por favor escolha uma marca</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="vehiclemodel.name" name="name">
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="createVehiclemodel()">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>