<mat-toolbar class="footer">
        <span class="logo container">
            <img class="logo" src="assets/img/logo-invertida.png">
        </span>
        <span class="contacts Goldplay-Regular">
            <ul class="ul">
                <li>
                    <i class="material-icons v-middle">phone</i>
                    (041) 3359-3600
                </li>
                <li>
                    <i class="material-icons v-middle">mail</i>
                    contato@satsolucoes.com.br
                </li>
                <li>
                    <i class="material-icons v-middle">place</i>
                    Rua Maria Gonçalves Alexandre, 161 - Cajuru - Curitiba PR
                </li>
            </ul>
        </span>
</mat-toolbar>
