.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 200px;
    background-color: rgb(6, 72, 116);
}

.footer .container{
    display: flex;
}

.footer .logo{
    display: flex;
    max-height: 100px;
    margin-left: 84px;
    margin-right: 84px;
    justify-content: flex-end;
}

.footer .contacts{
    display: flex;
    justify-content: flex-start;
}

.footer .contacts .ul {
    color: white;
    list-style-type: none;
}