.container {
  display: flex;
  justify-content: center;
}

.list-items {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 235px);
  grid-gap: 20px 15px;
  justify-content: space-between;
}