<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title font-bold">{{ brand.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ brand.imageUrl }}">
    <mat-card-subtitle class="font-regular">Média geral: {{ brand.overallAverage }} KM/L</mat-card-subtitle>
    <mat-card-subtitle class="font-regular">Total km percorrido: {{ brand.totalTraveled }}</mat-card-subtitle>
    <mat-card-subtitle class="font-regular">Qtde. abastecida: {{ brand.totalLitersUsed }} L</mat-card-subtitle>
    <mat-card-actions>
      <div class="action">
        <a routerLink="/brands/update/{{ brand.id }}" class="font-bold" mat-button>
          <i class="material-icons">
            edit
          </i>
        </a>
        <a routerLink="/brands/delete/{{ brand.id }}" class="font-bold" mat-button>
          <i class="material-icons">
            delete
          </i>
        </a>
      </div>
    </mat-card-actions>
</mat-card>