<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="font-bold">Nome da marca</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.scania.com/content/dam/scanianoe/market/master/products-and-services/trucks/16142-052_s-series_hero_sunset_2340x1316.jpg.transform/Rend_1200X630/image.jpg" alt="Photo of a Shiba Inu">
    <mat-card-subtitle class="font-regular">Média geral: 2,58 KM/L</mat-card-subtitle>
    <mat-card-subtitle class="font-regular">Nr. modelos: 2</mat-card-subtitle>
    <mat-card-subtitle class="font-regular">Nr. veículos: 10</mat-card-subtitle>
    <mat-card-subtitle class="font-regular">Total km percorrido: 1.569.699</mat-card-subtitle>
    <mat-card-subtitle class="font-regular">Qtde. abastecida: 608.410 L</mat-card-subtitle>
    <mat-card-actions>
      <button class="font-bold" mat-button>MODELOS</button>
      <button class="font-bold" mat-button>VEÍCULOS</button>
    </mat-card-actions>
</mat-card>
