/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Goldplay-Black;
    src: url(assets/font/Goldplay-Black.otf);
}

@font-face {
    font-family: Goldplay-Bold;
    src: url(assets/font/Goldplay-Bold.otf);
}

@font-face {
    font-family: Goldplay-Light;
    src: url(assets/font/Goldplay-Light.otf);
}

@font-face {
    font-family: Goldplay-Medium;
    src: url(assets/font/Goldplay-Medium.otf);
}

@font-face {
    font-family: Goldplay-Regular;
    src: url(assets/font/Goldplay-Regular.otf);
}

@font-face {
    font-family: Goldplay-SemiBold;
    src: url(assets/font/Goldplay-SemiBold.otf);
}

.font-black {
    font-family: Goldplay-Black;
}

.font-bold {
    font-family: Goldplay-Bold;
}

.font-light {
    font-family: Goldplay-Light;
}

.font-medium {
    font-family: Goldplay-Medium;
}

.font-regular {
    font-family: Goldplay-Regular;
}

.font-semiBold {
    font-family: Goldplay-SemiBold;
}

.colors {
    --sat-color-green: rgb(39, 181, 122);
    --sat-color-blue: rgb(6, 72, 116);
    --color-error: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: var(--sat-color-green);
}

.msg-error {
    background-color: var(--color-error);
    color: #fff
}