<mat-card>
    <mat-card-title class="mat-card-title">Nova Marca</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="brand.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Url imagem" [(ngModel)]="brand.imageUrl" name="imageUrl">
        </mat-form-field>
    </form>
    <button class="button-confirm" mat-raised-button (click)="createBrand()">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

