mat-card-title {
    font-family: Goldplay-Bold;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    font-family: Goldplay-Regular;
}

.button-confirm{
    background-color: rgb(6, 72, 116);
    color:white;
}

