.sidenav {
    background-color: rgb(39, 181, 122);
    width: 180px;
  
    height: calc(100vh - 215px);
   
}

.sidenav a {
    color: #FFF;
    font-family: Goldplay-Light;
    font-size: 1rem;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}