<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="100" fixedBottomGap="200">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/" class="a">
                <i class="material-icons">
                    home
                </i>
                Home
            </a>
            <a mat-list-item routerLink="/brands" class="a">
                <i class="material-icons">
                    local_offer
                </i>
                Marcas
            </a>
            <a mat-list-item routerLink="/vehiclemodels" class="a">
                <i class="material-icons">
                    toc
                </i>
                Modelos
            </a>
            <a mat-list-item routerLink="/vehicles" class="a">
                <i class="material-icons">
                    local_shipping
                </i>
                Veículos
            </a>
            <a mat-list-item routerLink="/supplies"class="a">
                <i class="material-icons">
                    local_gas_station
                </i>
                Abastecimentos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
