<mat-card>
    <mat-card-title>Confirmar exclusão de Abastecimento</mat-card-title>
    <form>
        <mat-form-field>
            <input disabled matInput placeholder="Momento" [value]="supply.moment" name="moment">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Odometro" [value]="supply.odometer" name="odometer">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Litragem abastecida" [value]="supply.litersFilled" name="listersFilled">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Valor por litro do combustível" [value]="supply.literValueOfFuel" name="literValueOfFuel">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Tanque cheio" [value]="supply.fullTank" name="fullTank">
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Combustível" [value]="supply.fuel" name="fuel">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteSupply()" color="warn">
        Deletar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
